  body{
  background: rgb(0,17,27);
  background: -moz-linear-gradient(180deg, rgba(0,17,27,1) 0%, rgba(4,55,96,1) 50%);
  background: -webkit-linear-gradient(180deg, rgba(0,17,27,1) 0%, rgba(4,55,96,1) 50%);
  background: linear-gradient(180deg, rgba(0,17,27,1) 0%, rgba(4,55,96,1) 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00111b",endColorstr="#043760",GradientType=1);
  }

  header {
    background-color: #f00; /* Color de fondo rojo */
    color: #fff; /* Color de texto blanco */
    padding: 20px;
    text-align: center;
  }

  section {
    padding: 20px;
  }

  #imagen {
    width: 60%;
    float: left;
  }

  #formulario-beneficios {
    width: 40%;
    float: left;
  }

  footer {
    background-color: #000; /* Color de fondo negro */
    color: #fff; /* Color de texto blanco */
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }